<div class="item">
  <p>{{value}}</p>
  <button class="margin-right" *ngIf="name==='pending'" (click)="moveItemToCompletedFromPending()">Move To Completed</button>
  <button class="margin-right" *ngIf="name==='pending'" (click)="moveItemToClearedFromPending()">Move To Cleared</button>
  <button class="margin-right" *ngIf="name==='completed'" (click)="moveItemToClearedFromCompleted()">Move To Cleared</button>
  <button class="margin-right" *ngIf="name==='cleared'" (click)="removeItem()">Remove it</button>
</div>
